

.sidebar 
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(154, 245, 252);
    z-index: 1000;
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
  
.sidebarcontent
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.closed
{width: 100px;}

.open
{width: 400px;}

.fixed
{width: 400px;}

.toggleBtn 
{
    position: relative;         
    top: 20px;                 
    left: 15px;
    height:36px;
    width:30px;                 
    z-index: 2;
    background: rgb(161, 161, 161);
    border: none;
    color: rgba(243, 203, 157, 0.945);
    cursor: pointer;
    font-size: 20px;
  }

  .sidebarBtnWrapper 
  {
    margin-bottom: 30px;
  }
  
  .sidebarBtn
  {
    display: block;
    position: relative;         
    top: 50px;                 
    left: 117px;                
    height:35px;
    width: 100px;
    padding: 10px;
    background-color: #585858;
    border: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  .sidebarBtn:hover 
  {background-color: #bbbaba;}