body {

    background-color: #4b4a4a;
  }
  

.layoutContainer {
  display: flex;
  height: calc(100vh - 60px); 
  margin-top: 60px; 
}
.mainContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
}